{% extends 'en/base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
	   <h1>Associer un cours à une matière</h1>
    </div>
    <form>
      Choice a lesson:
      <select name="cours" size="1">
        {% for cours in cours %}
        <option value = {{cours.id}}>{{cours.titre}}
        {% endfor %}
      </select><br>
      <br>
      Choisir une matière:
      <select name="matiere" size="1">
      {% for matiere in matiere %}
        <option value = {{matiere.id}}>{{matiere.titre}}
      {% endfor %}
      </select><br>
      <input class="favorite styled" type="submit" value="Submit" name="submit">
    </form>
{% endblock %}
