{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
	   <h1>Ajouter un cours {toto}</h1>
    </div>
    <form method="GET">
      Titre:<br>
      <input type="text" name="titre" ><br>
      Matière:<br>
      <select name="matiere" size="1">
      <option>1
      <option>2
      <option>3
      <option>4
      </select><br>
      Description:<br>
      <textarea name="description" rows=4 cols=40></textarea>
    </form>
    <input class="favorite styled" type="submit" value="Valider">
{% endblock %}
