{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
	   <h1>Modifier un cours</h1>
    </div>
    <form>
    Choisir un cours:
    <select name="cours" size="1">
      {% for cours in cours %}
      <option value = {{cours.id}}>{{cours.titre}}
      {% endfor %}
    </select><br>
    <br>
    <form method="GET">
      Titre:<br>
      <input type="text" name="titre" ><br>
      Choisir une matière:
      <select name="matiere" size="1">
      {% for matiere in matiere %}
        <option value = {{matiere.id}}>{{matiere.titre}}
      {% endfor %}
      </select><br>
      Description:<br>
      <textarea name="description" rows=4 cols=40></textarea>
      <br>
      <input class="favorite styled" type="submit" value="Valider" name="submit">
    </form>

{% endblock %}
