{% extends 'base.html.twig' %}
{% block body %}
<br>
Afficher les cours de :

 {% for affichage in affichage %}
 
<br>


<a class="btn btn-primary btn-sm" href="{{ path('lesson_show_cours', { 'id': affichage.id }) }}"> {{affichage.titre}}<i class="fa fa-pencil-square-o"></i> </a>


								

                          

						
{% endfor %}

{% endblock %}
