{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
	   <h1>Lesson</h1>
     <div class="menu-lesson">
       <a href="#" class="active">Afficher les filières</a><br>
       <a href="#">Associer un cours à une categorie</a><br>
       <a href="#">Afficher un cours</a><br>
       <a href="#">Associer un élève à une filière</a><br>
       <a href="#">Ajouter un cours</a><br>
       <a href="#">Modifier ou supprimer un cours</a><br>
      </div>
    </div>
{% endblock %}
