{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
       <h1>Liste des matières</h1>
       {% for affichage in affichage %}
        <tr>
       <td>{{affichage.titre}}</td>
       <td>{{affichage.id}}</td>
       <td>{{affichage.id_filiere}}</td>
       {% endfor %}
    </div>
{% endblock %}
